* text=auto

*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.py text eol=lf
*.cs text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.h text eol=lf
*.ui text eol=lf
.gitattributes text eol=lf
.gitmodules text eol=lf

src/auto_bdsp_rng/automation/auto_rng/starter_assets/*.ecs -text
script/御三家反查.txt -text
